@import "../../styles/index.scss";

.car-detail-container {
  .car-banner {
    background: $white;
    width: 100%;
    padding: 12px 20px;
    border-bottom: 1px solid $grey-lighter;
  }
}

.description-item {
  display: flex;
  height: 60px;
  align-items: center;

  .icon {
    margin-right: 16px
  }
}