// @import "../../styles/index.scss";

$filter-sidebar-width: 300px;

.browse-container {
  position: relative;
  width: calc(100% - #{$filter-sidebar-width});
  background: white;
  // padding: 10px;

  .catalog-row {
    margin-top: 80px;
  }
}
