// @import "../../styles/index.scss";

$filter-sidebar-width: 300px;

.browse-container {
  border-bottom: 1px solid #dbdbdb;
}

.browse-inner-container {
  position: relative;
  width: calc(100% - #{$filter-sidebar-width});
  background: white;

  .catalog-row {
    margin-top: 80px;
  }

  &.sidebard-closed {
    width: unset;
  }
}


@media (max-width: 991.98px) {
  .browse-inner-container {
    // width: unset;
  }
}