// @import "../../styles/index.scss";

$navbar-height: 3.25rem;
$filter-sidebar-width: 300px;
$navbar-background-color: white;
$grey-lighter: hsl(0, 0%, 86%);

.filter-sidebar-wrapper {
  background: #f9f8f8;
  text-align: left;
  width: $filter-sidebar-width;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-top: 1px solid $grey-lighter;
  border-right: 1px solid $grey-lighter;

  .toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 16px;
    cursor: pointer;
    font-weight: 900;

    &:hover {
      background: #EFEBE9;
    }
  }

  &.close {
    margin-left: -16px;
    width: 0;
  }
}

.filter-sidebar-inner-wrapper {
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // top: 0px;
  // background: #000;
  // min-height: 100vh;
}

@media (max-width: 991.98px) {
  .filter-sidebar-wrapper {
    // width: 0px;
  }
}