@import "../../styles/index.scss";

.filter-sidebar-wrapper {
  width: $filter-sidebar-width;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-right: 1px solid $grey-lighter;
}

.filter-sidebar-inner-wrapper {
  // position: fixed;
  // height: 100%;
  // width: 100%;
  // top: 0px;
  // background: #000;
  // min-height: 100vh;
}