@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "bulma/sass/utilities/_all.sass";

$navbar-height: 3.25rem;
// $background: $dark;
$filter-sidebar-width: 300px;
$navbar-background-color: #1e9a53;
$navbar-item-color: rgba(255, 255, 255, 0.9);
$navbar-box-shadow-size: 0 1px 0 0;
$navbar-box-shadow-color: #2FC16D;
$title-color: $white;
// $family-sans-serif: "Nunito", sans-serif;

@import "bulma/bulma.sass"; //TODO: break only what i need at end
@import 'bulma-extensions/bulma-slider/dist/css/bulma-slider.sass';

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #27AE60;
  // margin-top: $navbar-height;
  // padding: 24px 0;

  * {
    font-family: "Karla", sans-serif;
  }
}
