@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

@import "bulma/sass/utilities/_all.sass";

$filter-sidebar-width: 300px;
$navbar-background-color: $white;
// $navbar-item-color: $white;
$family-sans-serif: "Nunito", sans-serif;

@import "bulma/bulma.sass"; //TODO: break only what i need at end
@import 'bulma-extensions/bulma-slider/dist/css/bulma-slider.sass';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
