#square-scheduler {
  iframe {
    min-height: 960px !important;
  }
}

.page-bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 87%;
  background-image: linear-gradient(#22a6b3, #29a745);
  transform: skewY(-8deg);
  transform-origin: top left;
  animation-name: top-down-fade;
  animation-duration: .2s;
}

.btn.btn-outline-white {
  background: white;

  &:hover {
    border-color: white;
    background: initial;
  }
}

@keyframes top-down-fade {
  0%   {
    height: 0%;
  }
  50%   {
    height: 42%;
  }
  100%   {
    height: 87%;
  }
}

.lh-2 {
  line-height: 2rem;
}

.app-body {
  min-height: calc(100vh - 72px - 219px);
}

.page-container {
  animation: fadein .6s;
}

.page-header {
  color: white;
  font-weight: 700;
  text-align: center;
  font-size: 4rem;

  @media (max-width: 991.98px) {
    font-size: 2rem;
  }
}

.page-subheader {
  color: #c4e5b7;
  font-weight: 300;
  text-align: center;
  font-size: 2rem;

  @media (max-width: 991.98px) {
    font-size: 1.2rem;
  }
}

.margined-rows {
  .row+.row {
    margin-top: 1rem;
  }
}

a.btn {
  -webkit-appearance: none;
}

.dosha-ether {
  font-weight: bold;
  color: #3F51B5
}

.dosha-air {
  font-weight: bold;
  color: #9E9E9E
}

.dosha-earth {
  font-weight: bold;
  color: #4CAF50
}

.dosha-water {
  font-weight: bold;
  color: #2196F3
}

.dosha-fire {
  font-weight: bold;
  color: #FF5722
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}