.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.lh-2 {
  line-height: 2rem;
}

.app-body {
  min-height: calc(100vh - 72px - 219px);
}

.page-container {
  animation: fadein .6s;
}

.page-header {
  color: #4CAF50;
  font-weight: 700;
  text-align: center;
  font-size: 46px;

  @media (max-width: 991.98px) {
    font-size: 32px;
  }
}

.page-subheader {
  font-size: 20px;
  color: #9198b2;
  font-weight: 300;
  text-align: center;
}

.margined-rows {
  .row+.row {
    margin-top: 1rem;
  }
}

a.btn {
  -webkit-appearance: none;
}

.dosha-ether {
  font-weight: bold;
  color: #3F51B5
}

.dosha-air {
  font-weight: bold;
  color: #9E9E9E
}

.dosha-earth {
  font-weight: bold;
  color: #4CAF50
}

.dosha-water {
  font-weight: bold;
  color: #2196F3
}

.dosha-fire {
  font-weight: bold;
  color: #FF5722
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}