$filter-sidebar-width: 300px;
$dark: hsl(0, 0%, 21%);

.search-bar {
  position: absolute;
  height: 50px;
  top: 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  background: white;
  // border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  &.sticky {
    position: fixed;
    top: 0;
    z-index: 2;
    background: white;
    width: calc(100% - #{$filter-sidebar-width});
    box-shadow: 7px -1px 7px $dark;
    border-bottom: 0px;
  }

  .search-control {
    border: 0;
    box-shadow: none;

    &:focus {
      border: 0;
      box-shadow: none;
      outline: none;
    }
  }
}

@media (max-width: 991.98px) {
  .search-bar {
    &.sticky {
      width: calc(100% - 16px);
    }
  }
}
