// @import "../../styles/index.scss";

.search-control .no-focus {
  border: 0;
  box-shadow: none;

  &:focus {
    border: 0;
    box-shadow: none;
    outline: none;
  }
}

.search-bar {
  height: 60px;
  top: 0;
  padding: 0 15%;
  width: 100%;
}

.search-icon {
  display: flex;
  justify-content: center;
}