// @import "../../styles/index.scss";

.footer {
  // height: 212px;
}

.footer-divider {
  // width: calc(49vw - 3rem);
  height: 1px;
  margin: 0 1rem;
  background: #81C784;
}

.footer-title {
  display: flex;
  justify-content: center;
  color: #388E3C;
}

.footer-subtitle {
  color: #4CAF50;
}

.footer-list {
  list-style: none;
  line-height: 2;
  text-align: center;
  padding-left: 0;
}

.footer-list-header {
  color: #4CAF50;
}

.footer-list-header {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-list-item {
  color: #4CAF50;
}

.footer-list-item {
  text-decoration: none;
}
