// @import "../../styles/index.scss";

.social-item {
  display: inline-block;
  list-style: none;
  margin: 0 1rem;
}

.social-btn {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.social-btn > .social-item > a > svg {
  display: inline-block;
  height: 35px;
  width: 35px !important;;
  line-height: 35px;
  border-radius: 40px;
  font-size: 1.04em;
  padding: 8px;
  margin: 0 5px;
  color: white;
}

.social-btn > .social-item > a > svg:hover {
  transform: scale(1.1);
}

.social-btn > .social-item > a > [class*="facebook"] {
  background: #2A61D6;
}
.social-btn > .social-item > a > [class*="twitter"] {
  background: #3AA4F8;
}
.social-btn > .social-item > a > [class*="google"] {
  background: #F43846;
}
.social-btn > .social-item > a > [class*="instagram"] {
  background: #8F614A;
}
.social-btn > .social-item > a > [class*="pinterest"] {
  background: #ce0004;
}

.footer {
  // height: 212px;
}

.footer-divider {
  // width: calc(49vw - 3rem);
  height: 1px;
  margin: 0 1rem;
  background: #81C784;
}

.footer-title {
  display: flex;
  justify-content: center;
  color: #388E3C;
}

.footer-subtitle {
  color: #4CAF50;
}

.footer-list {
  list-style: none;
  line-height: 2;
  text-align: center;
  padding-left: 0;
}

.footer-list-header {
  color: #4CAF50;
}

.footer-list-header {
  font-weight: 700;
  text-transform: uppercase;
}

.footer-list-item {
  color: #4CAF50;
}

.footer-list-item {
  text-decoration: none;
}
