@import '../../styles/spacing';

.car-card {
  box-shadow: none !important;
  transition: .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  // border: 1px solid white;
  border: 1px solid rgba(101, 101, 101, 0.1);

  .card-image {
    // padding: 1px;
    border-radius: 10px;
  }

  .car-title {
    overflow: hidden;
    white-space: nowrap;

    & > *:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:hover {
    // border-color: gray;
    z-index: 1;
    opacity: 0.6;
  }
}